[*.cs]

# IDE0320: Make anonymous function static
csharp_prefer_static_anonymous_function = true

# CS0252: Possible unintended reference comparison; left hand side needs cast
dotnet_diagnostic.CS0252.severity = silent
