@if (movie) {
    
<div class="card bg-base-100 w-96 shadow-sm" >
  <figure class="px-10 pt-10">
    <img class="rounded-xl" [src]="movie.poster || '/sample.jpg'" [alt]="movie.title" (error)="onImageError($event)"/>
  </figure>

  <div class="card-body">
    <h2 class="card-title">{{movie.title}}</h2>
    <p>
        <strong>{{movie.plot}}</strong>
        @for (cast of movie.cast; track $index) {
            <div class="badge badge-neutral">{{cast}}</div>
        }
    </p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary" (click)="renderMoviesComponent(movie)">Buy Now</button>
    </div>
  </div>
</div>
}
